<html>

<head>

	
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta charset="utf-8"/> 
   
	<title>Cambiar contraseña</title>
    <link th:href="@{/webjars/github-com-twbs-bootstrap/v3.3.7/docs/dist/css/bootstrap.min.css}" media="screen" rel="stylesheet"/>
    <link th:href="@{/webjars/github-com-twbs-bootstrap/v3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css}"  media="screen" rel="stylesheet"/>
    <link th:href="@{/webjars/github-com-twbs-bootstrap/v3.3.7/docs/examples/signin/signin.css}"  media="screen" rel="stylesheet"/>
	<!-- <script src="@{webjars/github-com-twbs-bootstrap/v3.3.7/docs/assets/js/ie8-responsive-file-warning.js"></script> -->	
 
</head>
<body>
	<form action="/cambioEmail" method="post">
	<table border="0">
        <tr >
             <td colspan="5" align="center"><h2>Cambiar email</h2></td>
        </tr>
        <tr id="err">
        <br/>
        <span  th:text="${err}"/>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td align="right"><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td>Nuevo email: </td>
            <td align="right"><input type="text" name="newEmail"/></td>
        </tr>
        <tr>
            <td >
                <input type="submit" value="Guardar cambios"/>
            </td>
        </tr>
        
    <tr><td><a href="/volverAinfo">Volver panel de informacion</a></td></tr>
    </table>
    </form>
</body>
</html>